.flexContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-right: 230px;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 20vw;
	right: 0;
	height: 100%;
	width: 250px;
	background-color: #333;
	color: #fff;
}

#main-content {
	margin-left: 250px;
	/* Adjust this based on the width of the sidebar */
	padding: 20px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #f7f6f6;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	padding: 15px 20px;
}

.content {
	margin-left: 250px;
	padding: 20px;
}

.sidebar a {
	color: rgb(99, 75, 75);
	text-decoration: none;
	font-size: 18px;
	transition: text-shadow 0.3s;
	/* הוספת אנימציה עבור השינוי באפקט ההדגשה */
}

.sidebar a:hover {
	text-shadow: 0 0 5px rgba(201, 74, 74, 0.7);
	/* הדגשת האותיות בעכבר מעליהן */
}

#small {
	padding-bottom: 50px;
	padding-left: 50px;
}

#navSelect {
	background-color: transparent;
	/* להסיר רקע */
	color: rgb(133, 53, 53);
	/* צבע פונט לבן */
	border: none;
	/* להסיר גבולות */
	padding: 8px 12px;
	/* רווחים מסביב לתיבה */
	border-radius: 5px;
	/* לקפל את קצות התיבה */
	/* למלא את רוחב התפריט */
	margin-top: 120px;
	/* להוסיף מרווח מעל התיבה */
	direction: rtl;
}
