<div
	class="container"
	id="container"
	[ngClass]="{'right-panel-active': isClickSignUp}"
>
	<div class="form-container sign-in-container">
		<form action="#" [formGroup]="this.loginUser">
			<h1>התחברות</h1>

			<span>השתמש בחשבון שלך</span>

			<input
				formControlName="name"
				type="text"
				placeholder="Username"
				name="un"
			/>
			<ng-container *ngIf="this.loginUser.controls['name'].errors as nam">
				<p *ngIf="nam['required']" class="error">הכנס שם</p>
				<p *ngIf="nam['minLength']" class="error">יש להכניס מינימום 2 תווים</p>
			</ng-container>
			<input
				formControlName="password"
				type="password"
				placeholder="Password"
				name="pw"
				[ngClass]="{
					'is-invalid':
						this.loginUser.controls['password'].errors &&
						this.loginUser.controls['password'].errors['required']
				}"
			/>
			<ng-container *ngIf="this.loginUser.controls['password'].errors as pas">
				<p *ngIf="pas['required']" class="error">הכנס סיסמא</p>
				<p *ngIf="pas['minLength']" class="error">יש להכניס מינימום 6 תווים</p>
			</ng-container>
			<p *ngIf="this.notCorrectPassword" class="error">סיסמא שגויה</p>
			<button (click)="submit()" [disabled]="!this.loginUser.valid">
				התחברות
			</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>ברוך שובך!</h1>
				<p>כדי לשמור על קשר איתנו, התחבר עם המידע האישי שלך</p>
				<button class="ghost" id="signIn">התחברות</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>שלום חבר!</h1>
				<p>הזינו את הפרטים האישיים שלכם והתחילו איתנו את התהליך</p>
				<button (click)="toSignUp()" class="ghost" id="signUp">הירשם</button>
			</div>
		</div>
	</div>
</div>
